### Lets import all the dependencies for scrapping the website

In [1]:
import bs4
from urllib.request import Request, urlopen
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
#grabbing the url

url = 'https://www.cybera.ca/staff/'
req = Request(url , headers={'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req).read()

pagesoup = soup(webpage,"lxml")

### Route Address

In [3]:
company_route_name = pagesoup.title.text
print(company_route_name)

Staff - Cybera

### Employee Name

In [4]:
description = pagesoup.find_all('div',class_="abcfslItemCntrLst abcfslPadBMB30 abcfClrFix")


Names = []
for employee_description in description:
    employee_names = (employee_description.h3.text)
    Names.append(employee_names)
    
print(Names)

['Barb Carra ', 'Barton Satchwill ', 'Karim Teja ', 'Meagan Hampel ', 'Mulugeta Yirba ', 'Samir Rana ', 'Zafar Yousufi ', 'Joe Topjian ', 'Ben Leavitt ', 'Logan Thies ', 'Micheal Jones ', 'Regi Caldez ', 'Shawn Ayotte ', 'Alecia Vogel ', 'Alex Tennant ', 'Andrew Klaus ', 'Cameron Mann ', 'David Hay ', 'Laura Gutierrez Funderburk ', 'Preethi Kumar ', 'Rajan Patel ', 'Tatiana Meleshko ', 'Vuk Radovic ', 'May Lynn Lee ', 'Badri Venkataraman ', 'Byron Chu ', 'Catherine Farr ', 'Valentina Corradi ', 'Mary Friedrich ', 'Deb Charnuski ', 'Harold Berry ', 'Nathan Ragonese ', 'Casey Knoll ', 'Imran Mohiuddin ', 'Laura Hutchinson ', 'Caroline Felsmann ', 'Alyshia Auston ', 'Amyn Ramzan ', 'Frances Kordov ', 'Jenna Robottom ']

In [5]:
emp_names = pd.DataFrame(Names,columns =['Names'])

In [6]:
emp_names.head()

               Names
0        Barb Carra
1  Barton Satchwill
2        Karim Teja
3     Meagan Hampel
4    Mulugeta Yirba

### Employee Designation

In [7]:
Role = []

for designation in description:
        employee_designation = designation.find('div',class_ = 'abcfslF24_6 TF2')
        employee_designation = (employee_designation.text)
        (Role.append(employee_designation))
print(Role)

['President and CEO', 'Vice President, Technology', 'CFO', 'Vice President, External Relations', 'Network Engineer', 'Senior Network Engineer', 'Network Engineer', 'Operations Manager', 'Systems Administrator', 'Systems Administrator', 'Senior System Administrator', 'Junior Systems Administrator', 'Senior Administrator', 'Developer', 'Data Scientist', 'Security Specialist', 'Software Developer', 'Callysto Ambassador', 'Data Science Intern, Callysto', 'Developer', 'Data Scientist', 'Data Scientist', 'Developer', 'Program Manager', 'Project Manager', 'Project Manager / Data Scientist', 'Project Manager', 'Project Manager', 'ShareIT Manager', 'Project Lead - ShareIT', 'ShareIT Procurement Lead', 'Shared Procurement Program Administrator', 'Communications Specialist', 'Policy Analyst', 'Communications Specialist', 'Finance Manager', 'Human Resources Specialist', 'Accountant', 'Executive Assistant / Office Manager', 'Budget Specialist (On Maternity Leave)']

In [8]:
emp_roles = pd.DataFrame(Role,columns =['Role'])

In [9]:
emp_roles.head()

                                 Role
0                   President and CEO
1          Vice President, Technology
2                                 CFO
3  Vice President, External Relations
4                    Network Engineer

### Employee Bio

In [10]:
Overview = pagesoup.find_all('div',class_ = 'abcfslTxtCntrLst abcfslPadLPc5')

Bio = []

for bios in Overview:
    bio = bios.find('div',class_= 'abcfslMT10 abcfslF20 PTF6')
    bio = bio.text
    Bio.append(bio)

In [11]:
emp_bio = pd.DataFrame(Bio,columns =['Bio'])

In [12]:
emp_bio.head()

                                                 Bio
0  Barb earned her Master's of Science at the Uni...
1  Barton has devoted his career to developing sy...
2  Prior to joining Cybera, Karim was CFO of one ...
3  Meagan has a journalism degree from Carleton U...
4  Mulugeta holds a MEng in Internetworking from ...

### Create a freshly brewed dataframe out of that scrapped data named Cybera
 - Concate all the dataframes on column

In [13]:
Cybera = pd.concat([emp_names,emp_roles,emp_bio],axis=1)

### Sweet now we are almost done.

In [14]:
Cybera.head()

,Names,Role,Bio
0,Barb Carra,President and CEO,Barb earned her Master's of Science at the Uni...
1,Barton Satchwill,"Vice President, Technology",Barton has devoted his career to developing sy...
2,Karim Teja,CFO,"Prior to joining Cybera, Karim was CFO of one ..."
3,Meagan Hampel,"Vice President, External Relations",Meagan has a journalism degree from Carleton U...
4,Mulugeta Yirba,Network Engineer,Mulugeta holds a MEng in Internetworking from ...

In [15]:
Cybera.to_csv("cybera.csv")

### Now I'm going to find my interviewers
 - Using the Email address and lets see if they exists
 - Voila i found all of you SIR

In [18]:
myinterviewers = ["Rajan Patel","Byron Chu", "Badri Venkataraman", "Alex Tennant"]
  
regstr = '|'.join(myinterviewers)
Cybera[Cybera['Names'].str.contains(regstr)]

,Names,Role,Bio
14,Alex Tennant,Data Scientist,Alex used to work in a lab where he helped ope...
20,Rajan Patel,Data Scientist,Rajan joined Cybera after completing a postdoc...
24,Badri Venkataraman,Project Manager,Badri holds a MBA from the University of Alber...
25,Byron Chu,Project Manager / Data Scientist,"Byron has a PhD in biochemistry, and is a cert..."

In [19]:
interviewer_df = Cybera[Cybera['Names'].str.contains(regstr)]

### So we will start with Alex sir.

In [20]:
interviewer_df.iloc[0,2]

'Alex used to work in a lab where he helped operate, break, fix and maintain two heavy element mass spectrometers, "while also independently performing quantum chemical simulations to help discover how proteins in the body transport and redistribute metal isotopes in relation to disease!" He now gets to play with a wide variety of data, and teach others how to become data scientists. If he\'s not at his desk, you will find him eating greasy food, climbing, or hiking in the mountains. His proudest achievement: “I once ate a burrito so fast, I had time to eat a second burrito.”'

### Next we have Rajan sir.

In [21]:
interviewer_df.iloc[1,2]

'Rajan joined Cybera after completing a postdoctoral fellowship at the University of Alberta. A typical day in the office sees him working on different datasets, creating visualizations, identifying interesting trends/insights, and discussing new tools, technologies and approaches to data science. He enjoys working with the “brilliant minds” at Cybera. The one place he would like to visit is the Himalayan mountains, having read so much about them.'

### Lets get some info about Badri sir.

In [22]:
interviewer_df.iloc[2,2]

'Badri holds a MBA from the University of Alberta, and previously worked as a Project Support Manager at a management consulting firm. His achievements there included running data and financial analysis for a First Nations management firm that was looking to build a gas station in Alberta. He enjoys the open and transparent culture at Cybera. Thre three things he could not live without are “food, music and my dog Simba.”'

### Finally we have Byron sir.

In [23]:
interviewer_df.iloc[3,2]

"Byron has a PhD in biochemistry, and is a certified project manager. In his current role, as well as project managing, he also works with data, and delivers technology training to Albertans (and Canadians) of all ages. His proudest achievement at Cybera (so far) has been working with Callysto, and introducing new technologies and problem-solving approaches to grades 5-12 teachers and students. If he's not at his desk, you will find him running or spending time with his family."

### Thanks for your time and consideration, 
### Looking forward to hear from you guys.

 - Spent 55 mins preparing this, alternatively we can go on <a>https://www.cybera.ca/staff/</a> and search for any employee

# So when I'm starting !!!